.footer {
  background: #2f303a;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
  text-decoration: none;
  &-accent {
    color: #ffffff;
  }
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-address-link {
  font-style: inherit;
  line-height: 1.71;
  color: var(--footer-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-tel,
.footer-mail {
  font-family: inherit;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-soc-text {
  margin-bottom: 20px;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  @include desktop {
    text-align: left;
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-container-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  // align-items: baseline;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include tablet {
    width: 768px;
    padding: 0 15px;
  }
  @include desktop {
    align-items: baseline;
    width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
  }
}

.footer-top {
  @include tablet {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 0;
    align-items: baseline;
  }
}

.footer-container {
  @include desktop {
    text-align: left;
  }
}

.footer-soc {
  display: block;
  margin: 60px 0;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    align-items: baseline;
    margin-left: 70px;
  }
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  @extend %align-element;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-input {
  @include tablet {
    flex-wrap: wrap;
  }
}

.email-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
    gap: 12px;
    align-items: baseline;
  }
}

.email-input-text {
  margin-bottom: 20px;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.email-input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
  outline: transparent;
  padding-left: 16px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-icon-send {
  fill: var(--button-color);
}

.online-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--button-color);
  background-color: #2196f3;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
